In [6]:
import pandas as pd

# Create an empty DataFrame with the specified columns
df = pd.read_csv("data.csv", index_col=0)

# Show the empty DataFrame
df

,round,split,replicates,duplicates,distortion,m1,m2,m3
0,-1,NaN,NaN,8.0,1,1.000000,0.745803,0.854396
1,-1,NaN,NaN,100.0,1,0.997500,0.802817,0.889632
2,-1,NaN,NaN,0.1,0,0.967742,0.952381,0.960000
3,-1,NaN,NaN,1.0,0,1.000000,0.919192,0.957895
4,-1,NaN,NaN,0.1,1,1.000000,0.766667,0.867924
...,...,...,...,...,...,...,...,...
1907,-12,-2.0,_19,1.0,1,0.987047,0.782341,0.872852
1908,-12,-2.0,_19,0.1,1,1.000000,0.783333,0.878505
1909,-12,-2.0,_19,8.0,0,1.000000,0.937700,0.967848
1910,-12,-2.0,_19,8.0,1,0.998973,0.777778,0.874607
1911,-12,-2.0,_19,1.0,0,1.000000,0.919192,0.957895

In [11]:
# Replace 'NaN' string with np.nan for correct filtering
import numpy as np
df.replace('NaN', np.nan, inplace=True)

# use both and PitmanYou prior

### L. Dup L. Dist

In [12]:
# Perform the filtering
filtered_df = df[
    (df['round'] == -1) &
    (df['split'].isna() | (df['split'] == -2.0)) &
    (df['duplicates'] == 0.1) &
    (df['distortion'] == 0)
]

# Get the values of m1 from the filtered dataframe
m1_values = filtered_df['m1'].values
m1_values

array([0.9677419, 1.       , 0.9836066, 0.9836066, 0.9836066, 0.9836066,
       0.9836066, 1.       , 0.9836066, 0.9677419, 0.9836066, 0.9677419,
       0.9677419, 0.9677419, 0.9836066, 0.9677419, 0.9677419, 0.9677419,
       0.9836066, 0.9836066])

In [ ]:

# precision
# recall
# f1Sscore

### M. Dup L. Dist

### H. Dup L. Dist

### V.H. Dup L. Dist

### L. Dup H. Dist

### M. Dup H. Dist

### H. Dup H. Dist

### V.H. Dup H. Dist